.footer-compact {
  background: linear-gradient(180deg, #ffdee9, #ffd1e1);
  color: #010101;
  padding: 1.5rem 0;
  font-family: 'Poppins', sans-serif;
  position: relative;

  /* REMOVE BORDER */
  border-top: none;

  /* ADD SHADOW */
  box-shadow: 0 -6px 20px rgba(0,0,0,0.08);
}

/* Decorative top line */
.footer-compact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: linear-gradient(90deg, #ff416c, #ff4b2b, #9e80ff);
}


.container {
  margin: 0 auto;
  padding: 0 2rem;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LEFT */
.footer-left {
  font-size: 0.85rem;
  color: #000000;
}

/* CENTER */
.footer-center {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer-center a {
  color: #000000;
  text-decoration: none;
  font-size: 0.85rem;
  transition: color 0.3s;
}

.footer-center a:hover {
  color: #9e80ff;
}

.footer-center span {
  color: #555;
}

/* RIGHT */
.footer-right {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.85rem;
  color: #000000;
}

.footer-right img {
  height: 28px;
  object-fit: contain;
}

/* MOBILE RESPONSIVE */
@media (max-width: 700px) {
  .footer-wrapper {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
  .footer-right {
  display: flex;
  flex-direction: column;
}
}

