@import "./nav.css";
@import "./hero.css";
@import "./about.css";
@import "./trainer.css";
@import "./packages.css";
@import "./gallery.css";
@import "./testimonials.css";
@import "./achievements.css";
@import "./contact.css";
@import "./footer.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  color: #1e1e2f;
  background: linear-gradient(180deg, #f6f8ff, #eef1ff);
  scroll-behavior: smooth;

}













